<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	
    <property name="log_directory" value="logs/"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

<!--     <appender name="file-json" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!--         <file>${log_directory}/dd-tracer-json.log</file> -->
<!--         <encoder class="net.logstash.logback.encoder.LogstashEncoder"/> -->
<!--         <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!--             <fileNamePattern> -->
<!--                 ${log_directory}/dd-tracer-json.%d{yyyy-MM-dd}.%i.log -->
<!--             </fileNamePattern> -->
<!--             <timeBasedFileNamingAndTriggeringPolicy -->
<!--                     class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> -->
<!--                 <maxFileSize>10MB</maxFileSize> -->
<!--             </timeBasedFileNamingAndTriggeringPolicy> -->
<!--         </rollingPolicy> -->
<!--     </appender> -->

    <appender name="console-json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- <logger name="com.datadoghq.trace" level="info">
        <appender-ref ref="file-json"/>
    </logger> -->

    <root level="trace">
        <appender-ref ref="console"/>
    </root>

</configuration>