<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <servlet>
    <servlet-name>servlet_name</servlet-name>
    <servlet-class>io.opentelemetry.instrumentation.jmx.testapp.SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_name</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
