{% macro render(attr, notes) -%}
{%- if attr.level == "recommended" %}`Recommended`
{% elif attr.level == "required" %}`Required`
{% elif attr.level == "opt_in" %}`Opt-In`
{% elif attr.level.conditionally_required %}`Conditionally Required`{{ notes.add_with_limit({"note": attr.level.conditionally_required, "name": attr.name}) }}
{% elif attr.level.recommended %}`Recommended`{{ notes.add_with_limit({"note": attr.level.recommended, "name": attr.name}) }}
{% else %}{{ level }}
{%- endif %}
{% endmacro %}
