<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		                       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

  <jee:remote-slsb id="springRmiGreeterEjb"
                   jndi-name="java:global/test/test/SpringRmiGreeterEjb!springrmi.app.ejb.SpringRmiGreeterEjbRemote"
                   business-interface="springrmi.app.SpringRmiGreeter">
  </jee:remote-slsb>

</beans>
