<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="LIST" class="ch.qos.logback.core.read.ListAppender" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <logger name="test">
    <level value="info" />
    <appender-ref ref="LIST" />
  </logger>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
