<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="io.opentelemetry.javaagent.ch.qos.logback.core.ConsoleAppender">
    <layout class="io.opentelemetry.javaagent.ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <root level="WARN">
    <appender-ref ref="console"/>
  </root>

  <logger name="io.opentelemetry" level="debug"/>

</configuration>
