<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:b="http://www.springframework.org/schema/batch"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">
  <import resource="baseContext.xml"/>

  <b:job id="taskletJob">
    <b:step id="step">
      <b:tasklet ref="testTasklet"/>
    </b:step>
  </b:job>

  <b:job id="itemsAndTaskletJob">
    <b:step id="itemStep">
      <b:tasklet>
        <b:chunk commit-interval="5" reader="itemReader" processor="itemProcessor"
          writer="itemWriter"/>
      </b:tasklet>
      <b:next on="*" to="taskletStep"/>
    </b:step>
    <b:step id="taskletStep">
      <b:tasklet ref="testTasklet"/>
    </b:step>
  </b:job>

  <bean id="itemReader" class="springbatch.TestItemReader"/>
  <bean id="itemProcessor" class="springbatch.TestItemProcessor"/>
  <bean id="itemWriter" class="springbatch.TestItemWriter"/>
  <bean id="testTasklet" class="springbatch.TestTasklet"/>
</beans>