<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" metadata-complete="false"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <listener>
    <listener-class>JerseyStartupListener</listener-class>
  </listener>
</web-app>