name: Build

on:
  push:
    branches:
      - main
      - release/*
  workflow_dispatch:

permissions:
  contents: read

jobs:
  common:
    uses: ./.github/workflows/build-common.yml
    secrets:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
      FLAKY_TEST_REPORTER_ACCESS_KEY: ${{ secrets.FLAKY_TEST_REPORTER_ACCESS_KEY }}

  test-latest-deps:
    # release branches are excluded
    # because any time a new library version is released to maven central it can fail
    # which requires unnecessary release branch maintenance, especially for patches
    if: "!startsWith(github.ref_name, 'release/')"
    uses: ./.github/workflows/reusable-test-latest-deps.yml
    secrets:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
      FLAKY_TEST_REPORTER_ACCESS_KEY: ${{ secrets.FLAKY_TEST_REPORTER_ACCESS_KEY }}

  muzzle:
    # release branches are excluded
    # because any time a new library version is released to maven central it can fail
    # which requires unnecessary release branch maintenance, especially for patches
    if: "!startsWith(github.ref_name, 'release/')"
    uses: ./.github/workflows/reusable-muzzle.yml

  shell-script-check:
    # release branches are excluded to avoid unnecessary maintenance if new shell checks are added
    if: "!startsWith(github.ref_name, 'release/')"
    uses: ./.github/workflows/reusable-shell-script-check.yml

  link-check:
    # release branches are excluded to avoid unnecessary maintenance if external links break
    # (and also because the README.md javaagent download link has to be updated on release branches
    #  before the release download has been published)
    if: "!startsWith(github.ref_name, 'release/')"
    uses: ./.github/workflows/reusable-link-check.yml

  markdown-lint-check:
    # release branches are excluded
    if: "!startsWith(github.ref_name, 'release/')"
    uses: ./.github/workflows/reusable-markdown-lint-check.yml

  publish-snapshots:
    needs:
      # intentionally not blocking snapshot publishing on test-latest-deps, muzzle, or link-check
      - common
    runs-on: ubuntu-latest
    # skipping release branches because the versions in those branches are not snapshots
    if: github.ref_name == 'main' && github.repository == 'open-telemetry/opentelemetry-java-instrumentation'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Free disk space
        run: .github/scripts/gha-free-disk-space.sh

      - name: Set up JDK for running Gradle
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version-file: .java-version

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Build and publish artifact snapshots
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_KEY: ${{ secrets.SONATYPE_KEY }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
        run: ./gradlew assemble spdxSbom publishToSonatype

      - name: Build and publish gradle plugin snapshots
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_KEY: ${{ secrets.SONATYPE_KEY }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
        run: ./gradlew build publishToSonatype
        working-directory: gradle-plugins
