name: Issue management - run stale action

on:
  schedule:
    # hourly at minute 23
    - cron: "23 * * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  stale:
    permissions:
      contents: read
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@3a9db7e6a41a89f618792c92c0e97cc736e1b13f # v10.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 7
          days-before-close: 7
          only-labels: "needs author feedback"
          stale-issue-label: stale
          stale-issue-message: >
            This issue has been labeled as stale due to lack of activity and needing author feedback.
            It will be automatically closed if there is no further activity over the next 7 days.
          stale-pr-label: stale
          stale-pr-message: >
            This PR has been labeled as stale due to lack of activity and needing author feedback.
            It will be automatically closed if there is no further activity over the next 7 days.

      - uses: actions/stale@3a9db7e6a41a89f618792c92c0e97cc736e1b13f # v10.0.0
        with:
          days-before-stale: 365
          days-before-close: 0
          close-issue-label: stale
          close-issue-message: >
            We would welcome a contribution for this enhancement, but since there has been no activity on it for the past year we are closing it to help maintain our backlog.
            Anyone who would like to work on it is still welcome to do so, and we can re-open it at that time.
          days-before-pr-stale: -1
          days-before-pr-close: -1
          only-labels: "enhancement,contribution welcome"
          exempt-issue-labels: "stale" # so that it won't close issues labeled as stale by "needs author feedback"

      - uses: actions/stale@3a9db7e6a41a89f618792c92c0e97cc736e1b13f # v10.0.0
        with:
          days-before-issue-stale: -1
          days-before-issue-close: -1
          days-before-pr-stale: 180
          days-before-pr-close: 14
          stale-pr-label: stale
          stale-pr-message: >
            This PR has been labeled as stale due to lack of activity.
            It will be automatically closed if there is no further activity over the next 14 days.
          exempt-draft-pr: false
