name: PR build Spring Boot images for smoke tests

on:
  pull_request:
    paths:
      - 'smoke-tests/images/springboot/**'
      - '.github/workflows/pr-smoke-test-spring-boot-images.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Set up JDK 11 for running Gradle
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11

      - name: Cache gradle dependencies
        uses: burrunan/gradle-cache-action@v1.10
        with:
          job-id: springboot-smoke
          read-only: true

      - name: Cache Gradle Wrapper
        uses: actions/cache@v2
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-cache-${{ hashFiles('smoke-tests/images/springboot/gradle/wrapper/gradle-wrapper.properties') }}

      - name: Build Docker Image
        run: |
          ./gradlew jibDockerBuild -PtargetJDK=8 -Djib.httpTimeout=120000 -Djib.console=plain --stacktrace
          ./gradlew jibDockerBuild -PtargetJDK=11 -Djib.httpTimeout=120000 -Djib.console=plain --stacktrace
          ./gradlew jibDockerBuild -PtargetJDK=16 -Djib.httpTimeout=120000 -Djib.console=plain --stacktrace
        working-directory: smoke-tests/images/springboot
