name: Reusable - Native tests

on:
  workflow_call:
    inputs:
      skip-native-tests:
        type: boolean
        required: false
      test-latest-deps:
        type: boolean
        required: false

permissions:
  contents: read

jobs:
  graalvm-native-tests:
    if: "!inputs.skip-native-tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-java-version:
          - 22
          - 23
          - 24
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - id: read-java
        run: echo "version=$(cat .java-version)" >> "$GITHUB_OUTPUT"
      - uses: graalvm/setup-graalvm@eec48106e0bf45f2976c2ff0c3e22395cced8243 # v1.4.2.1
        with:
          version: "latest"
          java-version: ${{ matrix.test-java-version }}
          components: "native-image"
      - name: Running test
        env:
          DOCKER_COMPOSE_TEST: "true"
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version
          # Testcontainers does not work in some cases with GraalVM native images, 
          # therefore we're starting a Kafka container manually for the tests
          docker compose -f .github/graal-native-docker-compose.yaml up -d
          # don't wait for startup - gradle compile takes long enough
          ./gradlew ${{ inputs.test-latest-deps && '-PtestLatestDeps=true' || '' }} nativeTest
          docker compose -f .github/graal-native-docker-compose.yaml down # is this needed?
