name: Update latest dep versions

on:
  schedule:
    # daily at 4:12 UTC
    - cron: "12 4 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update-latest-dep-versions:
    permissions:
      contents: write  # for git push to PR branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Free disk space
        run: .github/scripts/gha-free-disk-space.sh

      - name: Set up JDK for running Gradle
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version-file: .java-version

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Resolve latest dep versions
        run: >
          ./gradlew resolveLatestDepVersions
          -PtestLatestDeps=true
          -PresolveLatestDeps=true

      - name: Check for changes
        id: check-changes
        run: |
          if git diff --quiet .github/config/latest-dep-versions.json; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Use CLA approved bot
        if: steps.check-changes.outputs.changed == 'true'
        run: .github/scripts/use-cla-approved-bot.sh

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        if: steps.check-changes.outputs.changed == 'true'
        id: otelbot-token
        with:
          app-id: ${{ vars.OTELBOT_APP_ID }}
          private-key: ${{ secrets.OTELBOT_PRIVATE_KEY }}

      - name: Create pull request
        if: steps.check-changes.outputs.changed == 'true'
        env:
          # not using secrets.GITHUB_TOKEN since pull requests from that token do not run workflows
          GH_TOKEN: ${{ steps.otelbot-token.outputs.token }}
        run: |
          message="Update pinned latest dep versions"
          body="Auto-generated update of pinned latest dependency versions used by \`testLatestDeps\` builds."
          branch="otelbot/update-latest-dep-versions"

          # close any existing PR on the same branch
          existing_pr=$(gh pr list --head "$branch" --state open --json number --jq '.[0].number')
          if [ -n "$existing_pr" ]; then
            gh pr close "$existing_pr"
          fi

          git checkout -b $branch
          git add .github/config/latest-dep-versions.json
          git commit -m "$message"
          git push --force --set-upstream origin $branch
          gh pr create --title "$message" \
                       --body "$body" \
                       --base main
